:root {
    /* color-scheme: ; */
    --primary-color: #423362;
    --secondary-color: #7B7091;
    --accent-color: #FFC857;
    --text-color: #423362;
    --background-color: #EDECF1;
    --footer-background: #423362;
    --footer-text-color: #EDECF1;}


    /* spacing */
    /* --spacing-unit: 1rem; */

    /* typography */
    /* --font-family: "";
    --font-size-base: 24px;
    --font-size-heading: 48px;
    --font-weight-regular: 400;
    --font-weight-bold: 800;*/


    .navbar {
        background: rgb(66, 51, 98) !important;
        background: linear-gradient(0deg, rgba(66, 51, 98, 0) 0%, rgba(66, 51, 98, 0.3) 8%, rgba(66, 51, 98, 1) 14%, rgba(66, 51, 98, 1) 19%, rgba(66, 51, 98, 1) 42%, rgba(66, 51, 98, 1) 100%) !important;

    }

    nav {
        height: 70px;
        justify-content: right !important;
    }

    li a {
        color: var(--accent-color) !important;
    }

    li a:hover {
        background-color: beige;
        color: blueviolet;
    }

    .navbar-toggler {
        background-color: var(--accent-color);
    }

    .navbar-brand img {
        width: 50px;
    }

    .navbar-collapse {
        justify-content: end;
    }

    .sidenav>div>a {
        text-decoration: none !important;
        color: var(--primary-color) !important;
    }

    .content {
        height: 628px;
        margin-top: 70px;
    }

    footer {
        height: 36px;
        color: var(--footer-text-color) !important;
        background-color: var(--primary-color) !important;
    }