:root {
    /* color-scheme: ; */
    --primary-color: #423362;
    --secondary-color: #7B7091;
    --accent-color: #FFC857;
    --text-color: #423362;
    --background-color: #EDECF1;
    --footer-background: #423362;
    --footer-text-color: #EDECF1;

    /* spacing 1rem=16px*/ 
    --space-gap: 2rem;
    --space-between-section: 120px;
}



    /* typography */
    /* --font-family: "";
    --font-size-base: 24px;
    --font-size-heading: 48px;
    --font-weight-regular: 400;
    --font-weight-bold: 800;*/


    .container-fluid{
        height: 123px !important;
        padding: 0 !important;
        background: rgb(66, 51, 98) !important;
        background: linear-gradient(0deg, rgba(66, 51, 98, 0) 0%, rgba(66, 51, 98, 0.3) 8%, rgba(66, 51, 98, 1) 14%, rgba(66, 51, 98, 1) 19%, rgba(66, 51, 98, 1) 42%, rgba(66, 51, 98, 1) 100%) !important;

    }

    /* .navbar {
        height: auto !important;
        background: rgb(66, 51, 98) !important;
        background: linear-gradient(0deg, rgba(66, 51, 98, 0) 0%, rgba(66, 51, 98, 0.3) 8%, rgba(66, 51, 98, 1) 14%, rgba(66, 51, 98, 1) 19%, rgba(66, 51, 98, 1) 42%, rgba(66, 51, 98, 1) 100%) !important;

    } */

    nav {
        height: 70px;
        justify-content: right !important;
    }

    li a {
        color: var(--accent-color) !important;
    }

    li a:hover {
        background-color: beige;
        color: blueviolet;
    }

    .navbar-toggler {
        background-color: var(--accent-color);
    }

    .navbar-brand{
       margin-left: 2rem !important;
    }

    .navbar-collapse {
        justify-content: end;
    }

    .sidenav>div>a {
        text-decoration: none !important;
        color: var(--primary-color) !important;
    }

    .sidenav {
        margin-top: 70px !important;
    }

    .content {
        height: 628px;
        margin-top: 70px;
    }

    footer {
        height: 36px;
        color: var(--footer-text-color) !important;
        background-color: var(--primary-color) !important;
    }

    /* About Page */

    .greeting{
        margin-top: 7.75rem;
        display: flex;
    }
    .mypic {
        display: flex;
        margin: auto;
    }

    .intro{
        display: flex;
        margin-top: var(--space-between-section) ;
    }

    .intro mystory{
        display: flex;
    }